<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查询课程成绩</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<ul class="nav nav-pills">
    <li ><a href="index.html">Home</a></li>
    <li ><a href="#">成绩管理</a></li>
    <li class="active" ><a href="findScore.html">查询成绩</a></li>
    <li ><a href="findStudentScore.html">查询学生成绩</a></li>
    <li ><a href="findCourseScore.html">查询课程成绩</a></li>

</ul>
<form method="post" class="form-control">
    课程号:<input type="text" name="sno">
    <input type="submit">
</form>
</body>
</html>