<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body BACKGROUND="bg.jpg">
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="showall.html">所有学生</a></li>
        <li><a href="addStudent.html">添加学生</a></li>
        <li><a href="findoneStudent.html">管理学生</a></li>
        <li><a href="setclass.html">管理班级</a></li>
        <li><a href="setCourse.html">管理课程</a></li>
        <li><a href="ScoreController.html">管理成绩</a></li>

    </ul>
</body>
</html>