<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body BACKGROUND="bg.jpg">
<h1>成功</h1>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="showall.html">所有学生</a></li>
    <li><a href="addStudent.html">添加学生</a></li>
    <li><a href="findoneStudent.html">管理学生</a></li>
</ul>
<br>
</body>
</html>