<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>good students</title>

    <!-- Bootstrap CSS -->
    <link href="//apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sign.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
    <div class="container">
            <ul class="nav nav-pills">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="showall.html">所有学生</a></li>
                <li><a href="addStudent.html">添加学生</a></li>
                <li><a href="findoneStudent.html">管理学生</a></li>
            </ul>
    </div>

    <!--筛选器-->
    <div class="container">
        <form id="qFrom">

                <select class="selectpicker" id="slect">
                    <option value="0">按学号查询</option>
                    <option value="1">按姓名查询</option>
                </select>

                <input type="text" id="query">

                <button type="button" class="btn" id="qsubmit">
                    查询
                </button>



        </form>


    </div>

    </div>
    <!--信息表-->
    <div class="container" >
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover"  id = "student_info_table">
                    <thead>
                        <tr class="text-danger">
                            <th>学号</th>
                            <th>姓名</th>
                            <th>班级</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>电话</th>
                            <th>家庭住址</th>

                        </tr>
                    </thead>
                    <tbody id = "student_info_tbody">
                        <tr th:each="student : ${students}" class="text-danger">
                            <td th:text="${student.sno}"></td>
                            <td th:text="${student.sname}"></td>
                            <td th:text="${student.studentclass.classname}"></td>
                            <td th:text="${student.sage}"></td>
                            <td th:text="${student.ssex}"></td>
                            <td th:text="${student.teleno}"></td>
                            <td th:text="${student.addr}"></td>

                            <td>
                                <button type="button" class="btn btn-primary btn-lg"  >
                                    修改
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg">
                                    删除
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">更新信息</h4>
                    </div>
                    <div class="modal-body">

                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <form class="form-horizontal" id="myForm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="sno" id = "sno">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="sname" id = "sname">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="classname" placeholder="班级" id="stclass">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="sage" id="sage">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="ssex" id="ssex">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="teleno" placeholder="电话" id="teleno">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="addr" placeholder="家庭住址" id="addr">
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" id = "post_button">提交</button>
                                        </div>


                                    </form>
                                </div>
                            </div>

                    </div>


            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){//当所有html加载完成后执行

            $("#myForm").on('submit',function (e) {
                e.preventDefault();//屏蔽原有功能
                $.ajax(
                    {
                        url: 'updatestudent.html',
                        type: 'POST',
                        data: $('#myForm').serialize(),
                        success: function()
                        {
                            window.location.href = "showall.html";
                            // 当Ajax请求后，返回的只能是字符流,不是页面，所以需要调用函数强制跳转
                        }
                    }
                );
            });

            $("#qsubmit").on('click',function () {
                if($("#slect").val() == 0){// 按学号查找
                    $.ajax(
                        {
                            url:'getStudentBysno',
                            data:
                                {
                                    sno:$("#query").val()
                                },
                            type:'GET',
                            dataType:"json",
                            success:
                                function (json)
                                {
                                    if(json.sno == "error")
                                    {
                                        alert("该学号不存在,请重新输入");
                                        $("#query").val(""); //将输入框置为空
                                    }
                                    else{
                                        $("#student_info_tbody").remove(); //将原来信息表清空
                                        var tbody = document.createElement("tbody");
                                        tbody.id = "student_info_tbody";
                                        var tr = tbody.insertRow(0);
                                        tr.className = "table table-hover"

                                        var td = tr.insertCell(0);
                                        td.innerHTML = json.sno;

                                        td = tr.insertCell(1);
                                        td.innerHTML = json.sname;

                                        td = tr.insertCell(2);
                                        td.innerHTML = json.studentclass.classname;

                                        td = tr.insertCell(3);
                                        td.innerHTML = json.sage;

                                        td = tr.insertCell(4);
                                        td.innerHTML = json.ssex;

                                        td = tr.insertCell(5);
                                        td.innerHTML = json.teleno;

                                        td = tr.insertCell(6);
                                        td.innerHTML = json.addr;

                                        td = tr.insertCell(7);
                                        td.id = "last_td";


                                        var bt = document.createElement("button");
                                        bt.innerHTML = "修改";
                                        bt.className = "btn btn-primary btn-lg";
                                        bt.type = "button";
                                        bt.id = "new_q"



                                        $("thead").after(tbody);
                                        $("#last_td").append(bt);
                                        $("#new_q").on('click',
                                            function() {

                                                var tr = $(this).parent().parent();//获取被点击按钮所在的行
                                                var td = tr.find("td");//获取当前行的所有列
                                                $("#myModal").modal('show');//显示模态框
                                                var snov = td[0].innerHTML;//获取当前列的文本内容
                                                var snamev = td[1].innerHTML;
                                                var sagev = td[2].innerHTML;
                                                var ssexv = td[3].innerHTML;

                                                //将当前行的信息写入模态框中表单对应的地方
                                                $("#sno").val(snov);
                                                $("#sname").val(snamev);
                                                $("#sage").val(sagev);
                                                $("#ssex").val(ssexv);
                                            }
                                        );
                                    }


                                },
                            error:
                                function () {
                                    alert("error");
                                }
                        }
                    )
                }
                else {//按姓名查找
                    $.ajax(
                        {
                            url:'getStudentBysname',
                            data:
                                {
                                    sname:$("#query").val()
                                },
                            type:'GET',
                            dataType:"json",
                            success:
                                function (json)
                                {
                                    if(json.sno == "error")
                                    {
                                        alert("该学号不存在,请重新输入");
                                        $("#query").val(""); //将输入框置为空
                                    }
                                    else{
                                        $("#student_info_tbody").remove(); //将原来信息表清空
                                        var tbody = document.createElement("tbody");
                                        tbody.id = "student_info_tbody";
                                        var tr = tbody.insertRow(0);
                                        tr.className = "table table-hover"

                                        var td = tr.insertCell(0);
                                        td.innerHTML = json.sno;

                                        td = tr.insertCell(1);
                                        td.innerHTML = json.sname;

                                        td = tr.insertCell(2);
                                        td.innerHTML = json.sage;

                                        td = tr.insertCell(3);
                                        td.innerHTML = json.ssex;

                                        td = tr.insertCell(4);
                                        td.id = "last_td";


                                        var bt = document.createElement("button");
                                        bt.innerHTML = "修改";
                                        bt.className = "btn btn-primary btn-lg";
                                        bt.type = "button";
                                        bt.id = "new_q"



                                        $("thead").after(tbody);
                                        $("#last_td").append(bt);
                                        $("#new_q").on('click',
                                            function() {

                                                var tr = $(this).parent().parent();//获取被点击按钮所在的行
                                                var td = tr.find("td");//获取当前行的所有列
                                                $("#myModal").modal('show');//显示模态框
                                                var snov = td[0].innerHTML;//获取当前列的文本内容
                                                var snamev = td[1].innerHTML;
                                                var sagev = td[2].innerHTML;
                                                var ssexv = td[3].innerHTML;

                                                //将当前行的信息写入模态框中表单对应的地方
                                                $("#sno").val(snov);
                                                $("#sname").val(snamev);
                                                $("#sage").val(sagev);
                                                $("#ssex").val(ssexv);
                                            }
                                        );
                                    }


                                },
                            error:
                                function () {
                                    alert("error");
                                }
                        }
                    )
                }

            });

            $("button.btn-primary").on('click',
                function() {

                    var tr = $(this).parent().parent();//获取被点击按钮所在的行
                    var td = tr.find("td");//获取当前行的所有列
                    $("#myModal").modal('show');//显示模态框
                    var snov = td[0].innerHTML;//获取当前列的文本内容
                    var snamev = td[1].innerHTML;
                    var classv = td[2].innerHTML;
                    var sagev = td[3].innerHTML;
                    var ssexv = td[4].innerHTML;
                    var teleno = td[5].innerHTML;
                    var addr = td[6].innerHTML;



                    //将当前行的信息写入模态框中表单对应的地方
                    $("#sno").val(snov);
                    $("#sname").val(snamev);
                    $("#stclass").val(classv);
                    $("#sage").val(sagev);
                    $("#ssex").val(ssexv);
                    $("#teleno").val(teleno);
                    $("#addr").val(addr);

                }
            );
        });
    </script>



</body>
</html>